<!DOCTYPE html>
<html>
<head>
    <title>Table Example</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Topic</th>
        <th>Difficulty</th>
    </tr>
    <tr>
        <td>Introduction to Python</td>
        <td>Python</td>
        <td>Beginner</td>
    </tr>
    <tr>
        <td>Data Structures</td>
        <td>Algorithms</td>
        <td>Intermediate</td>
    </tr>
    <tr>
        <td>Machine Learning Basics</td>
        <td>Machine Learning</td>
        <td>Advanced</td>
    </tr>
</table>


<table border="1">
    <tr>
        <th>Name_2</th>
        <th>Topic_2</th>
        <th>Difficulty_2</th>
    </tr>
    <tr>
        <td>Introduction to Python</td>
        <td>Python</td>
        <td>Beginner</td>
    </tr>
    <tr>
        <td>Data Structures</td>
        <td>Algorithms</td>
        <td>Intermediate</td>
    </tr>
    <tr>
        <td>Machine Learning Basics</td>
        <td>Machine Learning</td>
        <td>Advanced</td>
    </tr>
</table>
</body>
</html>